.footer__column-link{
    margin: 0px;
    padding: 0px;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: opacity 1s ease;
}

.footer__column-link:hover{
    opacity: 0.25;
}