.cards__item{
    margin: 0;
    padding: 0;
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.cards__item:nth-of-type(3n+2){
    margin-left: 100px;
    margin-right: 100px;
}
