
a, p, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;

  /* костыль для прижатия  картиток  к  правому краю
  align-items:flex-end;
  justify-content: flex-end;*/

}

/*+*/
.logo_place_header{
  width: 183px;
  height: 32px;
  position: absolute;
  /*или padding-left: 64px */
  left: 64px;
  top: 30px;
  z-index: 1;
}

/*+*/
/*родительский .header поэтому  вариванивнивание  по центру */
.header__title{
   position: absolute;
   /*left: 64px;*/
   padding-left: 64px;
   width: 730px;
   margin: 0;
   align-items: center;
   line-height: 96px;
   font-size: 102px;
   font-weight: bold;
   z-index: 0;
}

.header__subtitle{
   position: absolute;
   left: 64px;
   bottom: 30px;
   width: 388px;
   margin: 0;
   flex-direction: column;
   justify-content: flex-end;
   line-height: 25px;
   font-size: 18px;
   font-weight: normal;
   z-index: 1;
}

.header__link{
  text-decoration: none;
}

.header__main-illustration{

  position: absolute;

  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
  margin-left: auto; /*сместить к правому краю*/
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  margin-left: auto; /*сместить к правому краю*/
  z-index: 0;
  display: flex;
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center; /*вложенный элемент  two-columns будет по центру;*/
}

.two-columns{
  display: flex; /*flex-direction: row; по умолчанию*/
  /*flex-direction: row; /*эленты внутри brief и main-text представляются как колонки*/
  width: 80%; /*занимает 80% ширини родителя description*/
  /*justify-content: space-between; /*эленты внутри brief и main-text разЬдутся по разныим стооронам  */
  justify-content: space-between;
  position: relative;
}


.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: blue;
}

.two-columns__main-text{
  margin: 0px;
  width: 80%;
}

.two-columns__paragraph {
  display: inline-block;  /*flex-direction: column;*/
  margin-bottom: 30px;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


.two-columns__paragraph_span-accent{
  font-weight: bold;
}


  .two-columns__main-text :last-child {
    margin-bottom: 0px;
  }



/*digits*/
.digits {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid red;
}

.section-title{
  text-align: center;
  width: 60%;
  margin: 0 auto;

  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle{
  text-align: center;
  width: 60%;
  margin: 0 auto;

  margin-top: 20px;
  font-size: 34px;
  font-weight: normal;
  line-height: 24px;

}

.table{
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  border: 2px solid red;
}

/*.table__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}*/

.table__cell{
  text-align: start;
  width: 250px;
}

.table__heading{
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text p{
  margin-top: 20px;
}

/*feynman*/

.feynman{
  margin-top: 100px;
  height: 890px;
  border: 2px solid green;

  position: relative;

  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}


.feynman__title{
  width: 648px;
  margin: 0 auto; /*занять центарльное положение  по ширине  продителя*/

  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle{
  margin-top: 70px;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__link{
  text-decoration: none;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;

  position: absolute;
  right: 0px; /*прижать к правому краю*/
  bottom: 0px; /*прижать к низу краю*/
  height: 50%;;
}

/*kaufman*/
.kaufman{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 90px;
  border: 2px solid green;
  overflow: hidden; /*чтобы ге  выходил за границы сейкции*/
  position: relative;
  background-color: black;
  color: white;
}

.table__dark{
  z-index: 1;
}

.table__row_theme_dark{
 margin-top: 80px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.table__cell_theme_dark{
width: 200px;
color: white;
}

.table__heading_theme_dark{
color: white;
}

.table__text_theme_dark{
color: white;
}

.kaufman__trianle{
  height: 877px;
  width: 877px;
  margin-left: auto; /*сместить к правому краю*/
  z-index: 0;
  display: flex;
  position: absolute;
  bottom: 0px;
  right: -210px;
  top: 0px;
};


.footer{
}
