.khan__buy-link {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    color: #2f80ed;
    height: 40px;
    width: auto;
    opacity: 1;
    transition: opacity 1s ease;
 }

 .khan__buy-link:hover{    
    opacity: 0.25; 
}

 